%h1 hello world
#angular_blog{ "ng-app" => "AngularBlogApp" }
  %div{ class: "ng-cloak toggle tall" }
    %div{ ng_controller: "PostsController as posts_ctrl", ng_init: "posts_ctrl.rest.index();" }
      %h2 hello from angular! 1 + 2 = {{1+2}}
      .repeater.ease{ ng_repeat: "post in posts_ctrl.data.posts" }
        %div{ ab_partial: true, url: "posts/post", ng_init: "ctrl=posts_ctrl"}