.editor-box.clearfix{ ng_if: "true" }
  .post-tools.pull-right
    .post-tool
      %a{ ng_click: "ctrl.bridge.toggleEditMode()"} 
        %span Editor 
        %i.fa.fa-minus-square-o.fa-2x{ ng_if: "ctrl.bridge.edit_mode" }
        %i.fa.fa-plus-square-o.fa-2x{ ng_if: "!ctrl.bridge.edit_mode" }

  .post-tools.pull-left{ ng_if: "!item_view && ctrl.bridge.edit_mode" }
    .post-tool{ng_if: "!ctrl.data.creating_new_post"}
      %a{ ng_click: "ctrl.rest.new()"} 
        %span New Post 
        %i.fa.fa-pencil-square-o.fa-2x

  .post-tools.pull-left{ ng_if: "item_view && ctrl.bridge.edit_mode" }
    .post-tool
      %a{ href: "/blog/posts" } 
        %span All Posts

    .post-tool{ng_if: "ctrl.data.creating_new_post"}
      %a.cancel{ ng_click: "ctrl.clear()"} 
        %span.cancel Cancel Post 
        %i.fa.fa-times.fa-2x