.grouped-forms
  .form
    %form.posts_form{ name: "ctrl.form" }
      .form-group
        .form-row
          .label-column 
          .section-header
            %span.title{ ng_if: "ctrl.isEditing($index,post.id)" } Edit Post
            %span.title{ ng_if: "!ctrl.isEditing($index,post.id)" } Create Post
            %form_buttons
              %a{ ng_if: "ctrl.data.creating_new_post", ng_click: "ctrl.rest.create()", class: "post-tool"  }
                %i.fa.fa-check-square-o
              %a.cancel{ ng_if: "ctrl.data.creating_new_post", ng_click: "ctrl.clear()", class: "post-tool"  }
                %i.fa.fa-minus-square-o

        .form-row.group-leader
          .label-column 
            %label subject
          .input-column
            %input{ ng_model: "ctrl.data.activePost.subject", name: "subject", ng_minlength: "3", required: true, type: "text" }

            %span.error{ ng_show: "ctrl.form.subject.$error.required" } Required
            %span.error{ ng_show: "ctrl.form.subject.$error.minlength" } Min length 3
        
        .form-row
          .label_column
          .input-column.checkbox
            %input{ ng_model: "ctrl.data.activePost.display_subject", type: "checkbox" }
            %label display subject

        .form-row
          .label_column
          .input-column.checkbox
            %input{ ng_model: "ctrl.data.activePost.accept_comments", type: "checkbox" }
            %label accept comments

        .form-row.group-closer{ ng_if: "ctrl.data.activePost.accept_comments" }
          .label_column
          .input-column.checkbox
            %input{ ng_model: "ctrl.data.activePost.comments_closed", type: "checkbox" }
            %label comments closed
  
  %div{ ng_controller: "ComponentsController as components_ctrl", ab_partial: true, url: "components/form_list", ng_init: "components_ctrl.init(ctrl.data.activePost);ctrl=components_ctrl"  }
     


