%div{ ng_if: "ctrl.bridge.edit_mode", ab_partial: true, url: "posts/post_edit" }  
%div{ ng_if: "!ctrl.bridge.edit_mode", ab_partial: true, url: "posts/post", ng_init: "ctrl.addthis.init(ctrl.bridge.blog_root,1)"  }