.ease{ ng_if: "ctrl.bridge.edit_mode && ctrl.data.creating_new_post" }
  .comment-new{ ab_partial: true, url: "posts/form" }

.repeater.ease{ ng_repeat: "post in ctrl.data.posts" }
  .comment-new{ ab_partial: true, url: "posts/item" }
