.editor-box
  %span{ class: "post-tool" }
    %a{ ng_if: "!ctrl.data.creating_new_post", ng_click: "ctrl.rest.new()", class: "pull-right" } 
      %i.fa.fa-pencil-square-o.fa-2x New Post!

  .ease{ ng_if: "ctrl.data.creating_new_post" }
    .comment-new{ ab_partial: true, url: "posts/form" }

.repeater.ease{ ng_repeat: "post in ctrl.data.posts" }
  %div{ ab_partial: true, url: "posts/post" }