.post{ ng_if: "!ctrl.preview[$index]", class: "ab-post post-index-{{$index}} clearfix" }
  .post-data.pull-right
    .post-details
      .timestamp {{post.timestamp}}
      .author {{post.author}}

  .post-content.pull-left.ease
    %h1.post-subject.ease{ ng_if: "post.display_subject" } 
      %a{ ng_if: "!item_view", href: "/blog/posts/{{post.id}}" } {{post.subject}}
      %span{ ng_if: "item_view" } {{post.subject}}

    %div{ ng_controller: "ComponentsController as components_ctrl", ng_init: "components_ctrl.init(post);" }
      %div{ ab_partial: true, url: "components/list", ng_init: "ctrl=components_ctrl" }
  
    %div{ ng_if: "post.accept_comments", ng_controller: "CommentsController as comments_ctrl", ng_init: "comments_ctrl.init(post);" }
      .post-comments{  ab_partial: true, url: "comments/list", ng_init: "ctrl=comments_ctrl" }


.post-preview{ ng_if: "ctrl.preview[$index]", class: "ab-post post-index-{{$index}} clearfix", ab_post_preview: "{{post}}" }