%div{ class: "ab-post post-index-{{$index}} clearfix" }
  %h1.post-subject{ ng_if: "post.display_subject", class: "ab-post-subject" } {{post.subject}}
  .post-data.pull-right
    .post-details
      .timestamp {{post.timestamp}}
      .author {{post.author}}
    .tools{ ng_if: "ctrl.isEditiable($index)" }
      post tools

  .post-content.pull-left
    %div{ ng_controller: "ComponentsController as components_ctrl", ng_init: "components_ctrl.init(post);" }
      %div{ ab_partial: true, url: "components/list", ng_init: "components=post.components" }
  
    %div{ ng_if: "post.accept_comments", ng_controller: "CommentsController as comments_ctrl", ng_init: "comments_ctrl.init(post);" }
      .post-comments{  ab_partial: true, url: "comments/list", ng_init: "ctrl=comments_ctrl" }