{{blogger.email}}
/ %div{ class: "profile-{{blogger.first_name}}-{{blogger.last_name}} profile-card" }
/   .box.under-card
/     .description
/       .name About {{blogger.first_name}}
/       .description {{blogger.bio}}
/   .box.over-card
/     %img.profile-image{alt: "Kohl gill", src: "/assets/team/kohl-gill-30de0aae83dee4e2676dd4ce7e06a64f.jpg"}/
/     .details
/       .name {{blogger.first_name}} {{blogger.last_name}}
/       .position {{blogger.title}}
/     .social
/       %ul
/         %li
/           %a{href: "mailto:kohlgill@laborvoices.com"}
/             %i.icon-envelope
/         %li
/           %a{href: "http://linkedin.com/in/kohlgill"}
/             %i.icon-linkedin
/         %li
/           %a{href: "http://twitter.com/kohlgill"}
/             %i.icon-twitter
/         %li
/           %a.open-profile.pull-right{"data-description" => "null"}
/             %i.icon-male