%div{ class: "blogger-{{blogger.first_name}}-{{blogger.last_name}} blogger-info" }
  .blogger-info

    .blogger-image{ ng_if: "!!blogger.image_url" }
      %img{ src: "{{blogger.image_url}}" }

    .blogger-details
      .name {{blogger.first_name}} {{blogger.last_name}}

    .blogger-position{ ng_if: "!!blogger.company || !!blogger.title" }
      .company{ ng_if: "!!blogger.company" } 
        %span{ ng_if: "!blogger.url" } {{blogger.company}}
        %a{ ng_if: "!!blogger.url", href: "{{blogger.url}}" } {{blogger.company}}
      .title{ ng_if: "!!blogger.title" } {{blogger.title}}

    .blogger-social
      %ul
        %li
          %a{ href: "{{blogger.email}}" }
            e 
            %i.icon-envelope
        %li{ ng_if: "!!blogger.linkedin" }
          %a{ href: "{{blogger.linkedin}}" }
            li 
            %i.icon-linkedin
        %li{ ng_if: "!!blogger.twitter" }
          %a{href: "{{blogger.twitter}}" }
            t 
            %i.icon-twitter