/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "global_settings";

body {
  background: url(image_path("angular_blog/hash_bg-dark.png")) repeat;
}

.buffer {
  background: none;
}

.blog-content {
  @include rounded(6px);

  position: relative;
  margin: 25px auto 25px;
  width: $page_width;
  border: 1px solid #999;
  background-color: #fff;
  padding: 25px;
}

/**
*
* Post
*
**/
.ab-post{
  border-top: 1px dotted #aaa;
  margin-bottom: 35px;
  padding-top: 35px;
  color: #666;
}
.ab-post.post-index-0 {
  border-top: none;
}
.post-content {
  width: 75%;
}

/**
*
* Header
*
**/
h1.ab-post-subject {
  margin-top: 0; 
}
.ab-header {
  margin: 0 0 10px;
}
.ab-header.ab-size-0 {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-1 {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-weight: bold;
}
.ab-header.ab-size-2 {
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-3 {
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  font-weight: bold;
}
.ab-header.ab-size-4 {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-5 {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  font-weight: bold;
}
.ab-header.ab-size-6 {
  font-size: 21px;
  line-height: 23px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-7 {
  font-size: 21px;
  line-height: 23px;
  text-transform: none;
  font-weight: bold;
}

/**
*
* Blurb
*
**/

.ab-blurb {
  margin: 10px 0;
}
.ab-size-tiny {
  font-size: 11px;
  line-height: 14px;
}
.ab-size-small {
  font-size: 14px;
  line-height: 17px;
}
.ab-size-large {
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
}
.ab-size-huge {
  font-size: 28px;
  line-height: 33px;
  font-weight: lighter;
}

/**
*
* Image/Video
*
**/
.ab-image,
.ab-video {
  margin: 10px 0;
}

/**
*
* Comments
*
**/

.ab-comments {
  font-size: 12px;
  padding: 10px;
  color: #333;
  border-top: 6px solid #ccc;
}
.ab-comment {
  margin: 5px 0;
}
.ab-commentor {
  color: #069;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 5px;
}
.ab-commentor-email {
  font-weight: bold;
  margin-right: 5px;
}
.ab-comment-timestamp {
  color: #060;
  font-weight: bold;
}
.comment-toggles{
  margin-left: 5px;
  padding-left: 7px;
  border-left: 2px solid #999;
}
.comment-tools {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #999;
  margin-bottom: 10px;
}
.comment-tool {
  position: relative;
  left: 0;
  top: -4px;
}

/**
*
* table forms
*
**/


table.form {
  width: 100%
}
table.form td {
  text-align: left;
  padding: 2px 5px;
}
table.form td.form_label {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  border-right: 1px solid #999; 
  position: relative;
  top: -4px;
  left: 0;
}
table.form textarea {
  width: 75%;
  height: 100px;
}
table.form tr.text_area td {
  padding: 5px; 
}
table.form tr td:last-child {
  width: 85%;
}
table.form tr td ul li input {
  width: 55%
}
table.form tr td ul li span {
  position: relative;
  top: -5px;
  left: 0;
}
table.form tr td ul li span a {
  margin-right: 5px;
}
.error {
  position: relative;
  top: -4px;
  left: 5px;
  text-transform: uppercase;
  color: #900;
  font-weight: bold;
}
.checkbox_wrapper {
  position: relative;
  top: -4px;
  left: 5px;
  text-transform: uppercase;
  color: #069;
  font-weight: bold;
  margin-right: 10px;
}
.checkbox_wrapper input[type="checkbox"] {
  position: relative;
  top: -2px;
  left: 0px;
  margin: 0 2px;
}
.form_header {
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 10px;
}
.form_header .title {
  margin-right: 15px;
}
.form_buttons .fa {
  margin-right: 2px;
  font-weight: bold;
}
a.cancel,
a.delete {
  color: #900;
}



