/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "global_settings";

body {
  background: url(image_path("angular_blog/hash_bg-dark.png")) repeat;
}

.buffer {
  background: none;
}

.blog-content {
  @include rounded(6px);

  position: relative;
  margin: 25px auto 25px;
  width: $page_width;
  border: 1px solid #999;
  background-color: #fff;
  padding: 25px;
}

/**
*
* Post
*
**/
.ab-post{
  border-top: 1px dotted #aaa;
  margin-bottom: 35px;
  padding-top: 35px;
  color: #666;
}
.ab-post.post-index-0 {
  border-top: none;
}
.post-content {
  width: 75%;
}

/**
*
* Header
*
**/
h1.ab-post-subject {
  margin-top: 0; 
}
.ab-header {
  margin: 0 0 10px;
}
.ab-header.ab-size-0 {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-1 {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-weight: bold;
}
.ab-header.ab-size-2 {
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-3 {
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  font-weight: bold;
}
.ab-header.ab-size-4 {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-5 {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  font-weight: bold;
}
.ab-header.ab-size-6 {
  font-size: 21px;
  line-height: 23px;
  text-transform: none;
  font-weight: normal;
}
.ab-header.ab-size-7 {
  font-size: 21px;
  line-height: 23px;
  text-transform: none;
  font-weight: bold;
}

/**
*
* Blurb
*
**/

.ab-blurb {
  margin: 10px 0;
}
.ab-size-tiny {
  font-size: 11px;
  line-height: 14px;
}
.ab-size-small {
  font-size: 14px;
  line-height: 17px;
}
.ab-size-large {
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
}
.ab-size-huge {
  font-size: 28px;
  line-height: 33px;
  font-weight: lighter;
}

/**
*
* Image/Video
*
**/
.ab-image,
.ab-video {
  margin: 10px 0;
}
