/*
*
* Sizes
*
*/

$top_margin: 40px;
$bottom_margin: 40px;
$page_width: 960px;

/*
*
* Colors
*
*/

$c_info_blue: #2f96b4;
$c_sucess_green: #5bb75b;
$c_logo_blue: #378FB4;

/*
*
* Mixins
*
*/

@mixin opacity($decimal: 0.50,$integer:50) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$integer})";
  filter: alpha(opacity=#{$integer});
  -moz-opacity: #{$decimal};
  -khtml-opacity: #{$decimal};
  opacity: #{$decimal};
}

@mixin rounded-box-shadow {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.50);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.50);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.50);
}

@mixin rounded($radius: 4px) {
  border-radius: #{$radius};
  -moz-border-radius: #{$radius};
  -webkit-border-radius: #{$radius};
}


@mixin rounded_top($radius: 4px) {
  -webkit-border-top-left-radius: #{$radius};
  -webkit-border-top-right-radius: #{$radius};
  -moz-border-radius-topleft: #{$radius};
  -moz-border-radius-topright: #{$radius};
  border-top-left-radius: #{$radius};
  border-top-right-radius: #{$radius};
}

@mixin rounded_bottom($radius: 4px) {
  -webkit-border-bottom-left-radius: #{$radius};
  -webkit-border-bottom-right-radius: #{$radius};
  -moz-border-radius-bottomleft: #{$radius};
  -moz-border-radius-bottomright: #{$radius};
  border-bottom-left-radius: #{$radius};
  border-bottom-right-radius: #{$radius};
}

@mixin oval($radius: 4px, $diameter: 8px) {
  @include rounded($radius);
  width: #{$diameter};
  height: #{$diameter};
}

@mixin vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  rotate:-90deg;
}

@mixin inset_shadow_down {
  -webkit-box-shadow: inset -1px -1px 2px 1px rgba(0, 0, 0, .5);
  box-shadow: inset -1px -1px 2px 1px rgba(0, 0, 0, .5);
}
@mixin inset_shadow {
  -webkit-box-shadow: inset -1px -3px 10px 1px rgba(0, 0, 0, 1);
  box-shadow: inset -1px -3px 10px 1px rgba(0, 0, 0, 1);
}
@mixin box_shadow {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
}
@mixin shadow_down {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .25);
}
@mixin shadow_up {
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, .25);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, .25);
}

@mixin clearfix {
  width: 100%;
  display: inline-block;
}
@mixin clearfix_after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/**
*
* Styles
*
**/

.clearfix {
  width: 100%;
  display: inline-block;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

