%div{ class: "ab-component {{component.css_string}}" }
  %div{ ng_if: "true" }
    %div{ ab_link_wrap: true, href: "{{component.link}}" }
      %div{ ng_if:"component.type=='header'", ab_partial: true, url: "headers/header", ng_init: "header=component.postable"}
      %div{ ng_if:"component.type=='blurb'", ab_partial: true, url: "blurbs/blurb", ng_init: "blurb=component.postable" }
      %div{ ng_if:"component.type=='image'", ab_partial: true, url: "images/image", ng_init: "image=component.postable" }
      %div{ ng_if:"component.type=='video'", ab_partial: true, url: "videos/video", ng_init: "video=component.postable" }