  /postables
  %div{ ng_if:"component.postable_type=='AngularBlog::Header'", ng_controller: "HeadersController as headers_ctrl", ng_init: "headers_ctrl.init(component);ctrl=headers_ctrl", ab_partial: true, url: "headers/header"  }