%div{ ng_init: "ctrl.rest.new()" } 
  %div{ ng_if: "!!ctrl.data.creating_new_component", ab_partial: true, url: "components/form", ng_init: "ctrl.rest.new()" }   

.repeater{ ng_repeat: "component in ctrl.data.component_post.components" }
  %div{ ng_if: "ctrl.isEditing(component.id)", ab_partial: true, url: "components/form"  }
  %div{ ng_if: "!ctrl.isEditing(component.id)", ab_partial: true, url: "components/component_edit" }
  
  /header
  %div{ ng_if:"component.type=='Header'", ng_controller: "HeadersController as headers_ctrl", ng_init: "headers_ctrl.init(component)" }
    %div{ ng_if: "ctrl.isEditing(component.id) || !(!component.postable.id || headers_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "headers/header_edit", ng_init: "ctrl=headers_ctrl" }
    %div{ ng_if: "!ctrl.isEditing(component.id) && (!component.postable.id || headers_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "headers/form", ng_init: "ctrl=headers_ctrl" }
    
  /blurb
  %div{ ng_if:"component.type=='Blurb'", ng_controller: "BlurbsController as blurbs_ctrl", ng_init: "blurbs_ctrl.init(component)" }
    %div{ ng_if: "ctrl.isEditing(component.id) || !(!component.postable.id || blurbs_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "blurbs/blurb_edit", ng_init: "ctrl=blurbs_ctrl" }
    %div{ ng_if: "!ctrl.isEditing(component.id) && (!component.postable.id || blurbs_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "blurbs/form", ng_init: "ctrl=blurbs_ctrl" }

  /image
  %div{ ng_if:"component.type=='Image'", ng_controller: "ImagesController as images_ctrl", ng_init: "images_ctrl.init(component)" }
    %div{ ng_if: "ctrl.isEditing(component.id) || !(!component.postable.id || images_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "images/image_edit", ng_init: "ctrl=images_ctrl" }
    %div{ ng_if: "!ctrl.isEditing(component.id) && (!component.postable.id || images_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "images/form", ng_init: "ctrl=images_ctrl" }

  /video
  %div{ ng_if:"component.type=='Video'", ng_controller: "VideosController as videos_ctrl", ng_init: "videos_ctrl.init(component)" }
    %div{ ng_if: "ctrl.isEditing(component.id) || !(!component.postable.id || videos_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "videos/video_edit", ng_init: "ctrl=videos_ctrl" }
    %div{ ng_if: "!ctrl.isEditing(component.id) && (!component.postable.id || videos_ctrl.isEditing(component.postable.id))", ab_partial: true, url: "videos/form", ng_init: "ctrl=videos_ctrl" }