%form{ name: "ctrl.form" }
  .form-row
    .label-column
      %label 
    .input-column
      .input-header
        Header ({{ctrl.data.activeHeader.id || "new"}})

  .form-row
    .label-column
      %label Header Text
    .input-column
      %input{ ng_model: "ctrl.data.activeHeader.content", name: "content", type: "text", placeholder: "Header text", required: true }
      %span.error{ ng_show: "ctrl.form.content.$error.required" } Required


  .form-row
    .label-column
      %label Size
    .input-column
      %select{ ng_model: "ctrl.data.activeHeader.size", ng_options:"size for size in ctrl.sizes" }

  .form-row
    .label-column
    .input-column
      %a{ ng_if: "headers_ctrl.data.creating_new_header", ng_click: "headers_ctrl.rest.create()" } 
        %i.fa.fa-pencil-square-o Create
      %a{ ng_if: "headers_ctrl.isEditing()", ng_click: "headers_ctrl.rest.update(header,true)" } 
        %i.fa.fa-pencil-square-o Update
      %a.delete{ ng_if: "headers_ctrl.isEditing()", ng_click: "headers_ctrl.reset()" } 
        %i.fa.fa-times Cancel
