%div{ ng_controller: "HeadersController as headers_ctrl", ng_init: "headers_ctrl.init(component)" }
  %input{ ng_model: "ctrl.data.activeHeader.content", name: "content", type: "text", placeholder: "header content" }