%div{ ng_controller: "HeadersController as headers_ctrl", ng_init: "headers_ctrl.init(component)" }
  %div{ class:"ab-header ab-size-{{header.size}}" }
    %div{ ng_bind_html: "header.content" } 
      {{ header.content }}