- content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom"))
- posts_json = render template: 'angular_blog/posts/index', formats: [:json]
#angular_blog{ "ng-app" => "AngularBlogApp" }
  %div{ class: "ng-cloak toggle tall" }
    %div{ ng_controller: "PostsController as posts_ctrl", ng_init: "posts_ctrl.setPosts(#{posts_json});posts_ctrl.published_count=#{@published_posts_count};posts_ctrl.bridge.setBlogger(#{current_admin.to_json});posts_ctrl.bridge.setBlogRoot('#{root_url}')" }
      %div{ ab_partial: true, url: "posts/editor_header", ng_init: "ctrl=posts_ctrl"}
      %div{ ab_partial: true, url: "posts/list", ng_init: "ctrl=posts_ctrl"}
