%div{ class: "ab-comment" } 
  {{comment.content}}
  &mdash;
  %span{ class: "ab-commentor" } 
    %span{ ng_if: "!!comment.name"} {{comment.name}}  
    %span{ ng_if: "!comment.name"} Anonymous 
  %span{ ng_if: "comment.display_email && !!comment.email", class: "ab-commentor-email" } 
    ( {{comment.email}} )
  %span{ class: "ab-comment-timestamp" } {{comment.timestamp}}