%div{ ng_if: "!!ctrl.data.image.id" }
  .form-row
    .label-column
    .input-column
      .parital{ ab_partial: true, url: "images/image" }

  .form-row
    .label-column
    .input-column.bottom-spacer
      %a{ ng_click: "ctrl.rest.edit(ctrl.data.image)" } 
        %i.fa.fa-pencil-square-o Edit
      %a.delete{ ab_confirm: "Do you really want to delete \"{{ctrl.data.image.content}}\"?", action: "ctrl.rest.delete(ctrl.data.image,true)" } 
        %i.fa.fa-times Delete