%div{ ng_controller: "VideosController as videos_ctrl", ng_init: "videos_ctrl.init(component)" }
  %div{ ng_if:"video.host=='youtube'", ab_partial: true, url: "videos/youtube", ng_init: "ctrl=videos_ctrl" }
  %div{ ng_if:"video.host=='vimeo'", ab_partial: true, url: "videos/vimeo", ng_init: "ctrl=videos_ctrl" }