.vimeo-container
  %ab_vimeo{ identifier: "{{ctrl.data.video.identifier}}", width:"{{component.width}}", height:"{{component.height}}" }
    %h4 Host: {{ctrl.data.video.host}}
    %h4 Video ID: {{ctrl.data.video.identifier}}