%h4 vimeo
%h5 {{video.identifier}}
%iframe{ src:"http://player.vimeo.com/video/{{video.identifier}}?portrait=0&amp;color=e13237", width:"500", height:"281", frameborder:"0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }