%h1 youtube
%h5 {{video.identifier}}
.youtube-container{ data: { width: "{{component.width || null}}", height: "{{component.height || null}}", video_identifier: "{{video.identifier}}"} }
  %div{ id: "player_{{video.identifier}}", ng_init: "ctrl.youtube.init(video.identifier)"}
