.active
  %form{ name: "ctrl.form" }
    .form-row
      .label-column
        %label 
      .input-column
        .input-header
          Blurb ({{ctrl.data.activeBlurb.id || "new"}})

    .form-row
      .label-column
        %label Blurb Text
      .input-column
        %textarea{ ng_model: "ctrl.data.activeBlurb.content", name: "content", type: "text", placeholder: "Blurb content", required: true }
        %span.error{ ng_show: "ctrl.form.content.$error.required" } Required


    .form-row
      .label-column
        %label Size
      .input-column
        %select{ ng_model: "ctrl.data.activeBlurb.size", ng_options:"size for size in ctrl.sizes" }

    .form-row
      .label-column
      .input-column
        %a{ ng_if: "blurbs_ctrl.data.creating_new_blurb", ng_click: "blurbs_ctrl.rest.create()" } 
          %i.fa.fa-pencil-square-o Create
        %a{ ng_if: "blurbs_ctrl.isEditing()", ng_click: "blurbs_ctrl.rest.update(blurb,true)" } 
          %i.fa.fa-pencil-square-o Update
        %a.delete{ ng_if: "blurbs_ctrl.isEditing()", ng_click: "blurbs_ctrl.reset()" } 
          %i.fa.fa-times Cancel
